<div class="btn-group" role="group" style="margin-top: 20px">
  <button type="button" class="btn btn-success" (click)="onAddRow()">
    Add row
  </button>
  <button type="button" class="btn btn-danger" (click)="onDeleteRow()">
    Delete selected row
  </button>
  <ng-container *ngIf="isEdited">
    <button type="button" class="btn btn-warning" (click)="savingChanges()">
      Saving changes
    </button>
  </ng-container>
</div>

<ag-grid-angular
  #agGrid
  style="width: 100%; height: 500px;"
  class="ag-theme-material"
  [rowData]="bodyTable"
  [columnDefs]="headerTable"
  rowSelection="multiple"
  enableRangeSelection="true"
  (cellValueChanged)="cellValueChanged($event)"
>
</ag-grid-angular>
