@import '../_vars.css';
@import '../font';

.home-preview {
  background: linear-gradient(90deg, rgba(255, 160, 51, 0.9), rgba(228, 35, 28, 0.6)), url("../../img/home_preview.jpg") no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  min-height: 100%;
}

.home-preview {
  font-family: $font-family;

  &__top_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 2vw;
  }

  &__bottom_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: whitesmoke;
    font-size: 3.5vw;
    line-height: 0.8;
  }
}

@media screen and (max-width: 1050px) {
  .home-preview {
    &__top_container {
      font-size: 4vw;
      line-height: 0.8;
    }

  }
}