@import "_vars";

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  &__item {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
  }

  &__item a {
    text-decoration: none;
    color: $main-text-color;
  }

  &__item:hover a {
    color: $primary-color;
    transition: all .5s;
  }

  &__item:last-child {
    margin-right: 0;
  }
}