$main-bg: rgba(0,0,0, 0.1);
$main-text-color: #0a0a0a;

$primary-color: rgb(67, 160, 255);
$success-color: rgba(110, 207, 151, 1);
$danger-color: rgb(247, 114, 73);
$warning-color: rgb(254, 222, 107);

$main-round: 30px;