.layout .header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;

  &__logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    font-weight: 800;
    cursor: pointer;

    &_img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}

